

/* Regular */
@font-face {
    font-family: 'Metropolitano-Regular';
    src: url('./Metropolitano/Metropolitano-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Metropolitano-Bold';
    src: url('./Metropolitano/Metropolitano-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  